div.textLabel{
height: 50px;
    width: 200px;
    background-color: #294F77;
    color:#EEE;
}
div.cell {
    height: 200px;
    width: 200px;
    background-color: #294F77;
    color:#EEE;
}
body {margin:0;}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #294F77;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}